<body>
  <header style="padding-left: 40% ;">
    <h1>Services</h1>
  </header>

  <section >
    <h2 >Website Development</h2>
    <p>
      We specialize in creating modern and responsive websites tailored to your specific needs.
      Whether you need a simple one-page website or a complex e-commerce platform, we've got you covered.
      Our team of experienced web developers will ensure your website is visually appealing, user-friendly, and optimized for search engines.
    </p>
  </section>

  <section>
    <h2>Web Application Development</h2>
    <p>
      Do you need a custom web application to streamline your business processes or enhance user engagement?
      Our skilled web developers can build scalable and secure web applications using the latest technologies and frameworks.
      From concept to deployment, we'll work closely with you to create a powerful web application that meets your objectives.
    </p>
  </section>

  <section>
    <h2>Website Maintenance and Support</h2>
    <p>
      Once your website or web application is live, it requires regular maintenance and updates to ensure optimal performance and security.
      We offer comprehensive website maintenance and support services, including content updates, bug fixes, security audits, and performance optimization.
      Let us take care of your website while you focus on growing your business.
    </p>
  </section>
</body>
