<!-- <h1> Jay Ajuidya</h1> -->
<!DOCTYPE html>
<html>
<head>
  <title>About Me</title>
  <style>
    
  </style>
</head>
<body>
  <h1>About Me</h1>
  
  <img src="../../../assets/img/jay_ajudiay.jpeg" alt="Profile Picture" height="300" style="padding-left:35%;">
  
  <p>Hello, my name is Jay Ajudiya. I'm a web developer passionate about creating beautiful and functional websites. With several years of experience in the industry, I have developed expertise in HTML, CSS, JavaScript and PHP. I love turning ideas into reality and crafting intuitive user experiences.</p>
  
  <p>In my free time, I enjoy experimenting with new web technologies, reading tech blogs, and contributing to open-source projects. I believe in continuous learning and staying up-to-date with the latest trends and best practices in web development.</p>
  
  <p>Feel free to get in touch with me via email at <a href="mailto:john.doe@example.com">jaysureshbhaiajudiya@gmail.com</a> or connect with me on <a href="https://linkedin.com/in/JayAjudiya5222" target="_blank">LinkedIn</a>. I'm always open to new opportunities and collaborations.</p>
  <p>Download my <a href="https://drive.google.com/file/d/1qhhptQDy__O0vKGfg3OJS_5zqYuq_Njt/view?usp=drive_link">resume</a> for more details about my work experience.</p>
  <p>Thank you for visiting my page!</p>
</body>
</html>
