<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Projects</title>
</head>
<style>
    .projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 10px;
}

.project {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

.project img {
  max-width: 100%;
}

.project a {
  display: inline-block;
  margin-top: 10px;
}

</style>
<body>
  <h1 style="padding-left: 40%;">My Projects</h1>
  
  <div class="projects-grid">
    <div class="project">
        <h2>Project 1: Kasanova</h2>
        <a href="https://www.kasanova.com/it">
        <img src="../../../assets/img/kasanova.png" alt="Kasanova" style="height: 300px;">
        </a>
        <p>Kasanova project was a e-commerce website and I had to work on login page and newsletter subscription other then that I also had worked on PDP page api</p>
        <a href="https://www.kasanova.com/it">Project Link</a>
    </div>
    
    <div class="project">
        <h2>Project 2: Automotive</h2>
        <a href="https://automotivesuperstore.com.au/">
        <img src="../../../assets/img/automotive.png" alt="Automotive" style="height: 300px;">
        </a>
        <p>Automotive store was an e-commerce website for auto parts. I had work for migration from m1 to m2. Also worked to fix issues on m2 site like slider issue, PDP page part checker issue, Brand list and other.</p>
        <a href="https://automotivesuperstore.com.au/">Project Link</a>
    </div>

    <div class="project">
        <h2>Project 3: Ann Spoyer</h2>
        <a href="https://annspoyer.com/">
        <img src="../../../assets/img/annspoyer.png" alt="Ann Spoyer" style="height: 300px;">
        </a>
        <p>Ann spoyer project is an e-commerce website for designer cloth. In this project, This was started from scratch. I had to work on customize PDP, make custom API for customer,PLP and PDP. I helped client understand how magento site can be maintained like adding products, managing orders.</p>
        <a href="https://annspoyer.com/">Project Link</a>
    </div>
   </div>
</body>
</html>
