<body>
  <h1 style="padding-left: 35% ;">Welcome to My Portfolio!</h1>
  
  <p style="padding: 10px;">Hello, and thanks for giving time to visit my personal portfolio. My name is Jay Ajudiya, and I'm a passionate web developer with a strong grip on back-end development and user experience design. I strive to create visually stunning and user-friendly e-commerce websites that leave a long lasting impression.</p>
  <h3 style="padding-left: 35% ;">Mission Statement</h3>
  <p style="padding: 10px;">My mission is to bring ideas to life through innovative and effective web solutions. I aim to deliver high-quality websites that not only meet my clients' needs but also exceed their expectations. I believe in continuous learning, staying up-to-date with the latest web technologies, and incorporating best practices into my work.</p>
  <p style="padding: 10px;">Thank you again for visiting, and I hope you enjoy browsing through my portfolio.</p>
</body>

